/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/* Enable uart1 for tracing. */
&uart1 {
	status = "okay";
	current-speed = <1000000>;
	hw-flow-control;
};

/ {
	chosen {
		nordic,modem-trace-uart = &uart1;
	};
	
	/* ... */
	/* These aliases are provided for compatibility with samples */
	aliases {
	/* ... */
		sw0 = &button0;
	};
};

/ {
	aliases {
		temp-sensor = &bme680;
		humidity-sensor = &bme680;
		pressure-sensor = &bme680;
		iaq-sensor = &bme680;
		accelerometer = &adxl362;
		impact-sensor = &adxl372;
	};
};

&i2c2 {
	bme680: bme680@76 {};
};

&spi3 {
	adxl362: adxl362@0 {
		autosleep;
	};

	adxl372: adxl372@1 {
		odr = <4>;
		bw = <4>;
		hpf = <0>;
	};
};

